body {
    background: url("./assets/img/BackgroundPic.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* @media (min-width: 0px){
  .container1{
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
}

@media (min-width: 878px){
  .container1{
    margin-left: 4rem !important;
    margin-right: 4rem !important;
  }
} */

/* @media (min-width: 0px){
  #JoshPic-container{
    padding-bottom: 50px;
}
} */