#headerItem{
    height: 4.25rem;
    text-align: center;
}

.ContactMeGridContainer{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.item{
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
}

.imageEffect{
    position: relative;
    display: block;
    overflow: hidden;
}

#contactContainerForm{
    max-width: 1000px;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;

    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
}

@media (min-width: 0px){
    .ContactMeGridContainer{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #contactContainerForm{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (min-width: 1065px){
    .ContactMeGridContainer{
        margin-left: auto;
        margin-right: auto;
    }

    #contactContainerForm{
        margin-left: auto;
        margin-right: auto;
    }
}

#submitButton{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    display: inline-block;
    font-weight: 400;

    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
    margin-bottom: 1rem;
}

.Sent{
    display: none !important;
}

#thankYouMessage{
    color:#343a40;
    /* background-color: #343a40; */
    text-align: center;
    font-size: 25px;
    margin-top: 9rem !important;
    margin-bottom: 9.2rem !important;
}
