#contactContainer{
    width: 90%;
    max-width: 1000px;
    /* margin-top: 7.5rem; */
    margin-left: auto;
    margin-right: auto;
}

.DropDownActiveContact{
    margin-top: 2.5rem;
}

.DropDownNotActiveContact{
    margin-top: 6rem;
}

#Header2{
    width: 100%;
    text-align:center;
    padding-top: 0.4rem;
}

#submitButton{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    display: inline-block;
    font-weight: 400;

    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
    margin-bottom: 1rem;
}

.Sent{
    display: none !important;
}

#thankYouMessage{
    color:#343a40;
    /* background-color: #343a40; */
    text-align: center;
    font-size: 25px;
    margin-top: 11rem;
    margin-bottom: 11rem;
    margin-left: 16rem;
    margin-right: 16rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
