#headerItem{
    height: 4.25rem;
    text-align: center;
}

.gridContainer{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.gridContainerSkills{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.item{
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
}

p{
    margin-bottom: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.JoshImage{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.SkillImage{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.aboutMeText{
    font-size: 1.45rem;
    text-indent: 50px;
}

.aboutMeTextSmall{
    clear: both;
    text-align: center;
    font-weight: 500;
}

h1{
    padding-top: 0.4rem;
}

@media (min-width: 0px){
    .gridContainer{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .gridContainerSkills{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (min-width: 1065px){
    .gridContainer{
        margin-left: auto;
        margin-right: auto;
    }

    .gridContainerSkills{
        margin-left: auto;
        margin-right: auto;
    }
}