#headerItem{
    height: 4.25rem;
    text-align: center;
}

.PortfolioGridContainerHeader{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.PortfolioGridContainer{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.item{
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5),
                -5px -5px 15px rgba(255, 255, 255, 0.25);
}

.projectImage{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ProjectHeader{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    margin: 0rem;
}

.ProjectDescription{
    font-size: 1.25rem;
    text-indent: 50px;
    padding: 0.4rem 1rem 1rem 1rem;
    margin: 0rem;
}

.projectHr{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.LinkButton{
    margin-top: 1rem;
    position: relative;
    display: block;
    color: black;
    padding: 0rem;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

.LinkButton::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.LinkButton::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}

.LinkButton:hover::after{
    left: 100%;
}

.LinkButton:hover{
    color: #25ffff;
    text-decoration: none;
}

.LinkButton span{
    position: absolute;
    display: block;
    transition: 0.5s ease;
}

.LinkButton span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}

.LinkButton:hover span:nth-child(1){
    width: 100%;
    transform: translateX(100%);
}

.LinkButton span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
}

.LinkButton:hover span:nth-child(3){
    width: 100%;
    transform: translateX(-100%);
}

.LinkButton span:nth-child(2){
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
}

.LinkButton:hover span:nth-child(2){
    height: 100%;
    transform: translateY(100%);
}

.LinkButton span:nth-child(4){
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: #fff;
}

.LinkButton:hover span:nth-child(4){
    height: 100%;
    transform: translateY(-100%);
}

.portfolioImg{
    max-width: 100%;
    max-height: 100%;
}





.imageEffect{
    position: relative;
    display: block;
    overflow: hidden;
}

.imageEffect::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}

.imageEffect:hover::after{
    left: 100%;
}





@media (min-width: 0px){
    .PortfolioGridContainer{
        margin-left: 2rem;
        margin-right: 2rem;
        grid-template-columns: none;
    }
    .PortfolioGridContainerHeader{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .ProjectDescription{
        font-size: 1.25rem;
    }
}

@media (min-width: 713px){
    .PortfolioGridContainer{
        grid-template-columns: 2fr 1fr;
    }
    .ProjectDescription{
        font-size: 1.5vw;
    }
}

@media (min-width: 900px){
    .ProjectDescription{
        font-size: 1.75vw;
    }
}

@media (min-width: 1065px){
    .PortfolioGridContainer{
        margin-left: auto;
        margin-right: auto;
    }
    .PortfolioGridContainerHeader{
        margin-left: auto;
        margin-right: auto;
    }
    .ProjectDescription{
        font-size: 1.25rem;
    }
}





@media (min-width: 0px){
    .portfolioImg{
        height: 12rem;
    }
}

@media (min-width: 500px){
    .portfolioImg{
        height: auto;
    }
}